Repository tiliaqt/transkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, jupytext

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: Black
        entry: poetry run black
        files: (transkit|tools|tests)/.*\.pyi?$
        language: system
      - id: flake8
        name: Flake8
        entry: poetry run flake8
        files: (transkit|tools|tests)/.*\.pyi?$
        language: system
      - id: jupytext
        name: Jupytext Sync
        entry: poetry run jupytext --sync
        files: .ipynb$
        language: system

Shuffle some dependencies and move some scripts.
  README.md
  poetry.lock
  pyproject.toml
  tools/install.sh
  tools/lab.sh
  tools/publish.sh
  tools/search.sh
Due: none

Improvements for fitting.
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  transkit/fit.py
  transkit/pharma.py
Due: black, flake8, jupytext

Create fit.returnToSteady function!
  transkit/fit.py
  transkit/pharma.py
Due: black, flake8

Construct minimal set of parameters to least_squares for doses.
  transkit/fit.py
Due: black, flake8

Update .gitignore.
  .gitignore
Due: none

Test stuff and refactoring dose response helpers.
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  transkit/fit.py
  transkit/medications.py
  transkit/pharma.py
  transkit/tests/__init__.py
  transkit/tests/conftest.py
  transkit/tests/test_fit.py
  transkit/tests/test_pharma.py
Due: black, flake8, jupytext

Test for fit.createX0AndBounds, and fix a bug it found.
  transkit/fit.py
  transkit/tests/test_fit.py
Due: black, flake8

Update Cycles notebook now that fitting works more smoothly.
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  transkit/tests/test_fit.py
Due: black, flake8, jupytext

Remove f-string debug '=' syntax, which isn't supported before python 3.8.
  poetry.lock
  transkit/pharma.py
Due: black, flake8

Add lmfit dependency.
  poetry.lock
  pyproject.toml
Due: none

Notebook changes.
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  notebooks/Injectables.ipynb
  notebooks/Injectables.md
Due: jupytext

Replace janky interpolated models with actual 3-compartment models fitted to data from real studies.
  notebooks/Injectables.ipynb
  notebooks/Injectables.md
  transkit/medications.py
  transkit/pharma.py
Due: black, flake8, jupytext

Automated domain finding for dose response functions.
  transkit/medications.py
  transkit/pharma.py
Due: black, flake8

Add models and model fitting, with some basic class structure.
  transkit/fit.py
  transkit/medications.py
  transkit/models.py
Due: black, flake8

Update notebooks.
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  notebooks/Injectables.ipynb
  notebooks/Injectables.md
  notebooks/TransKit.ipynb
  notebooks/TransKit.md
Due: jupytext

Shuffle around text.
  Injectables.ipynb
Due: jupytext

Update README with project description.
  README.md
Due: none

Update dependencies and fix build issues.
  .github/workflows/build.yml
  notebooks/Cycles.ipynb
  notebooks/Cycles.md
  notebooks/Injectables.ipynb
  notebooks/Injectables.md
  notebooks/TransKit.ipynb
  notebooks/TransKit.md
  poetry.lock
  pyproject.toml
  tools/install.sh
  transkit/fit.py
  transkit/pharma.py
  transkit/tests/test_pharma.py
Due: black, flake8, jupytext

Add license.
  LICENSE
  agpl-3.0.md
Due: none

Update README.
  README.md
Due: none

Fix GitHub build.
  .github/workflows/build.yml
  tools/generate_injections.py
  transkit/medications.py
  transkit/models.py
Due: black, flake8
